<a href="https://colab.research.google.com/github/poandpo/project-4/blob/main/AI_06_%EC%9E%84%EC%B1%84%EC%9D%80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터

In [1]:
# 데이터 불러오기
import pandas as pd

tr_path = 'https://raw.githubusercontent.com/poandpo/project-4/main/%EA%B0%90%EC%84%B1%EB%8C%80%ED%99%94%EB%A7%90%EB%AD%89%EC%B9%98(%EC%B5%9C%EC%A2%85%EB%8D%B0%EC%9D%B4%ED%84%B0)_Training.csv'
te_path = 'https://raw.githubusercontent.com/poandpo/project-4/main/%EA%B0%90%EC%84%B1%EB%8C%80%ED%99%94%EB%A7%90%EB%AD%89%EC%B9%98_Validation.csv'
train = pd.read_csv(tr_path, delimiter= ',')
test = pd.read_csv(te_path, delimiter= ',')

In [ ]:
# 데이터 확인
print(train.shape)

train.head(3)

(40879, 15)

      번호  ...                    시스템응답4
0  44164  ...                       NaN
1   3926  ...                       NaN
2  50882  ...  열심히 해서 좋은 결과가 있었으면 좋겠어요.

[3 rows x 15 columns]

In [ ]:
# 데이터 확인
print(test.shape)

test.head(3)

(5130, 15)

      번호   연령  성별  ...                             시스템응답3 사람문장4 시스템응답4
0  23093   청년  여성  ...         자신이 하고 싶은 일을 목표로 하기로 하셨군요.   NaN    NaN
1  32848  청소년  남성  ...                  일단 휴식을 가질 생각이시군요.   NaN    NaN
2  35590  청소년  남성  ...  지금의 상황이 나의 방식으로써 잘 해결될 수 있기를 바라요.   NaN    NaN

[3 rows x 15 columns]

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40879 entries, 0 to 40878
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   번호      40879 non-null  int64
 1   연령      40879 non-null  object
 2   성별      40879 non-null  object
 3   상황키워드   40879 non-null  object
 4   신체질환    40879 non-null  object
 5   감정_대분류  40879 non-null  object
 6   감정_소분류  40879 non-null  object
 7   사람문장1   40879 non-null  object
 8   시스템응답1  40879 non-null  object
 9   사람문장2   40879 non-null  object
 10  시스템응답2  40879 non-null  object
 11  사람문장3   31059 non-null  object
 12  시스템응답3  31059 non-null  object
 13  사람문장4   1472 non-null   object
 14  시스템응답4  1362 non-null   object
dtypes: int64(1), object(14)
memory usage: 4.7+ MB

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5130 entries, 0 to 5129
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   번호      5130 non-null   int64
 1   연령      5130 non-null   object
 2   성별      5130 non-null   object
 3   상황키워드   5130 non-null   object
 4   신체질환    5130 non-null   object
 5   감정_대분류  5130 non-null   object
 6   감정_소분류  5130 non-null   object
 7   사람문장1   5130 non-null   object
 8   시스템응답1  5130 non-null   object
 9   사람문장2   5130 non-null   object
 10  시스템응답2  5130 non-null   object
 11  사람문장3   3874 non-null   object
 12  시스템응답3  3874 non-null   object
 13  사람문장4   151 non-null    object
 14  시스템응답4  136 non-null    object
dtypes: int64(1), object(14)
memory usage: 601.3+ KB

## 데이터 선정 이유

위 데이터는 한국어로 되어있는 세대별 감성 텍스트 데이터입니다.

저는 트로스트, 아토머스 기업 같이 심리상담 챗봇 서비스에 관심이 있고, 챗봇을 통해서 사람들의 우울증 유무를 파악하고 관련된 치료나 병원등으로 연결해 주는 일에 관심이 있기 때문에 위 데이터를 사용했으며, 주로 한국어를 사용하는 기업에 관심이 있기에 한글 데이터를 선정하였습니다

## 데이터 가설



1.   항목 추가
2.   항목 추가



# 데이터 전처리

## 데이터 전처리 1(문장제외)

In [ ]:
train.head(1)

      번호  연령  성별  ...                        시스템응답3 사람문장4 시스템응답4
0  44164  청년  남성  ...  좋은 아빠가 되실 거 같아요. 진심으로 축하드려요.   NaN    NaN

[1 rows x 15 columns]

In [ ]:
# 고유값 확인
age= train['연령'].unique() 
state=train['상황키워드'].unique() 
disease = train['신체질환'].unique()
emotion_1 =train['감정_대분류'].unique() 
emotion_2 =train['감정_소분류'].unique() 

print(f"연령 고유값:{age}", '\n')
print(f"상황키워드 고유값:{state}", '\n')
print(f"질환 고유값:{disease}", '\n')
print(f"감정_대분류 고유값:{emotion_1}", '\n')
print(f"감정_소분류 고유값:{emotion_2}", '\n')

연령 고유값:['청년' '노년' '청소년' '중년']

상황키워드 고유값:['연애, 결혼, 출산' '건강, 죽음' '학업 및 진로' '재정' '재정, 은퇴, 노후준비' '건강' '학교폭력/따돌림'
 '대인관계' '진로, 취업, 직장' '가족관계' '직장, 업무 스트레스' '대인관계(부부, 자녀)']

질환 고유값:['해당없음' '만성질환 유' '만성질환 무']

감정_대분류 고유값:['기쁨' '불안' '당황' '슬픔' '분노' '상처' '불안 ' '기쁨 ']

감정_소분류 고유값:['신이 난' '스트레스 받는' '당황' '안도' '취약한' '우울한' '구역질 나는' '좌절한' '눈물이 나는' '배신당한'
 '남의 시선을 의식하는' '죄책감의' '당혹스러운' '분노' '두려운' '낙담한' '회의적인' '마비된' '혼란스러운' '흥분'
 '한심한' '염세적인' '안달하는' '걱정스러운' '조심스러운' '충격 받은' '상처' '불안' '노여워하는' '기쁨' '짜증내는'
 '환멸을 느끼는' '비통한' '혐오스러운' '억울한' '만족스러운' '부끄러운' '버려진' '고립된' '괴로워하는' '자신하는'
 '외로운' '방어적인' '편안한' '질투하는' '감사하는' '초조한' '실망한' '슬픔' '신뢰하는' '가난한, 불우한'
 '후회되는' '툴툴대는' '성가신' '열등감' '희생된' '느긋' '악의적인']

In [2]:
def clean_data(df):
   # 필요없는 columns 제거 
   df.drop(labels=['번호','감정_소분류','시스템응답1','시스템응답2', '시스템응답3', '사람문장4','시스템응답4'], axis = 1, inplace=True)

   # 컬럼명 변경
   df.rename(columns={'감정_대분류':'감정', '상황키워드':'상황','사람문장1':'문장1','사람문장2':'문장2', '사람문장3':'문장3'},inplace=True )  
 
   # 결측치 삭제
   df.dropna(how = 'any', inplace = True)

def encoder_data(df):
   # 범주형 데이터를 정수로 맵핑
   df['연령']= df['연령'].map({'청소년': 0,'청년': 1, '중년':2, '노년':3})
   df['성별']= df['성별'].map({'남성': 0,'여성': 1})
   df['상황']= df['상황'].map({'연애, 결혼, 출산': 0,'건강, 죽음': 1, '건강':1,'재정': 2,'재정, 은퇴, 노후준비': 2, '학교폭력/따돌림':3,'대인관계': 4, '진로, 취업, 직장': 5, '학업 및 진로':5,'직장, 업무 스트레스':5,'가족관계': 6,'대인관계(부부, 자녀)': 6})
   df['신체질환']= df['신체질환'].map({'해당없음': 0,'만성질환 무': 1, '만성질환 유':2})
   df['감정']= df['감정'].map({'기쁨': 0,'기쁨 ': 0, '불안':1, '불안 ':1, '당황': 2, '슬픔':3, '분노':4, '상처': 5})

clean_data(train) 
clean_data(test)  

encoder_data(train)
encoder_data(test)

In [3]:
# 중복 있는지 체크
train.T.duplicated(subset=None, keep='first')

연령      False
성별      False
상황      False
신체질환    False
감정      False
문장1     False
문장2     False
문장3     False
dtype: bool

In [10]:
test.T.duplicated(subset=None, keep='first')

연령      False
성별      False
상황      False
신체질환    False
감정      False
문장1     False
문장2     False
문장3     False
dtype: bool

In [3]:
train.head()

   연령  ...                                 문장3
0   1  ...  아기가 점점 클게 벌써 기대가 되네. 내가 많이 놀아줘야지.
1   3  ...          약을 잘 챙겨 먹고 나을 수 있도록 노력해야지.
2   0  ...       중학교 수업을 들을 때보다 훨씬 더 열심히 할 거야.
3   3  ...           회사생활을 열심히 해서 계속 월급을 받을거야!
5   2  ...                함께 등산이나 여행을 갔으면 좋겠어.

[5 rows x 8 columns]

In [4]:
test.head()

   연령  ...                                         문장3
0   1  ...             응. 그래도 난 내가 하고 싶은 일을 위해 노력할 거야.
1   0  ...                                  일단 좀 자야겠어.
2   0  ...       나는 옳은 일을 한 거라고 생각해. 나까지 괴롭힌다면 신고할 거야.
3   1  ...  우선 잘못된 부분을 솔직하게 말씀드리고 수정하기 위해서 최선을 다해봐야겠어.
4   2  ...                   나도 변호사를 고용해서 한번 얘기해보려고 해.

[5 rows x 8 columns]

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31059 entries, 0 to 40878
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   연령      31059 non-null  int64
 1   성별      31059 non-null  int64
 2   상황      31059 non-null  int64
 3   신체질환    31059 non-null  int64
 4   감정      31059 non-null  int64
 5   문장1     31059 non-null  object
 6   문장2     31059 non-null  object
 7   문장3     31059 non-null  object
dtypes: int64(5), object(3)
memory usage: 2.1+ MB

In [6]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3874 entries, 0 to 5129
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   연령      3874 non-null   int64
 1   성별      3874 non-null   int64
 2   상황      3874 non-null   int64
 3   신체질환    3874 non-null   int64
 4   감정      3874 non-null   int64
 5   문장1     3874 non-null   object
 6   문장2     3874 non-null   object
 7   문장3     3874 non-null   object
dtypes: int64(5), object(3)
memory usage: 272.4+ KB

## 텍스트 전처리

In [3]:
!pip install konlpy

Requirement already satisfied: konlpy in /usr/local/lib/python3.7/dist-packages (0.5.2)
Requirement already satisfied: tweepy>=3.7.0 in /usr/local/lib/python3.7/dist-packages (from konlpy) (3.10.0)
Requirement already satisfied: lxml>=4.1.0 in /usr/local/lib/python3.7/dist-packages (from konlpy) (4.2.6)
Requirement already satisfied: numpy>=1.6 in /usr/local/lib/python3.7/dist-packages (from konlpy) (1.19.5)
Requirement already satisfied: colorama in /usr/local/lib/python3.7/dist-packages (from konlpy) (0.4.4)
Requirement already satisfied: beautifulsoup4==4.6.0 in /usr/local/lib/python3.7/dist-packages (from konlpy) (4.6.0)
Requirement already satisfied: JPype1>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from konlpy) (1.3.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from JPype1>=0.7.0->konlpy) (3.7.4.3)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from tweepy>=3.7.0->konlpy) (1.15.0)
Requirement already satisfied: requests[socks]>=2.11.1 in /usr/local/lib/python3.7/dist-packages (from tweepy>=3.7.0->konlpy) (2.23.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from tweepy>=3.7.0->konlpy) (1.3.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->tweepy>=3.7.0->konlpy) (3.1.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (2021.5.30)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (1.7.1)

In [4]:
import re
from konlpy.tag import Okt
from tqdm import tqdm
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [5]:
# 한글과 공백을 제외하고 모두 제거
def clean_text(df):
  df['문장1'] = df['문장1'].str.replace("[^ㄱ-ㅎㅏ-ㅣ가-힣 ]","")
  df['문장2'] = df['문장2'].str.replace("[^ㄱ-ㅎㅏ-ㅣ가-힣 ]","")
  df['문장3'] = df['문장3'].str.replace("[^ㄱ-ㅎㅏ-ㅣ가-힣 ]","")

clean_text(train)
clean_text(test)

In [6]:
okt = Okt()
stopwords = ['의','가','이','은','들','는','좀','잘','걍','과','도','를','으로','자','에','와','한','하다', '아', '야', '랑', '을']

def tokenizer(df):
  sentence1 = []
  for sentence in tqdm(df['문장1']):
      tokenized_sentence = okt.morphs(sentence, stem=True) # 토큰화
      stopwords_removed_sentence = [word for word in tokenized_sentence if not word in stopwords] # 불용어 제거
      sentence1.append(stopwords_removed_sentence)

  sentence2 = []
  for sentence in tqdm(df['문장2']):
      tokenized_sentence = okt.morphs(sentence, stem=True) # 토큰화
      stopwords_removed_sentence = [word for word in tokenized_sentence if not word in stopwords] # 불용어 제거
      sentence2.append(stopwords_removed_sentence)

  sentence3 = []
  for sentence in tqdm(df['문장3']):
      tokenized_sentence = okt.morphs(sentence, stem=True) # 토큰화
      stopwords_removed_sentence = [word for word in tokenized_sentence if not word in stopwords] # 불용어 제거
      sentence3.append(stopwords_removed_sentence)

  df['문장1'] = sentence1
  df['문장2'] = sentence2
  df['문장3'] = sentence3

tokenizer(train)
tokenizer(test)

100%|██████████| 31059/31059 [01:02<00:00, 500.52it/s]
100%|██████████| 31059/31059 [00:55<00:00, 554.91it/s]
100%|██████████| 31059/31059 [00:57<00:00, 537.29it/s]
100%|██████████| 3874/3874 [00:07<00:00, 536.35it/s]
100%|██████████| 3874/3874 [00:07<00:00, 531.10it/s]
100%|██████████| 3874/3874 [00:07<00:00, 513.36it/s]

In [7]:
train.tail(3)

       연령  ...                                            문장3
40876   0  ...  [내, 다시, 내, 꿈, 어떻다, 이루다, 것, 인지, 자세하다, 설명, 드리다]
40877   3  ...         [운동, 뭉치다, 근육, 풀다, 것, 같다, 그렇다, 덜, 피로하다]
40878   1  ...                  [직접, 서운하다, 감정, 친구, 에게, 얘기, 해]

[3 rows x 8 columns]

In [8]:
test.head(3)

   연령  ...                                         문장3
0   1  ...           [응, 그래도, 난, 내, 싶다, 일, 위해, 노력, 거야]
1   0  ...                                    [일단, 자다]
2   0  ...  [나, 옳다, 일, 거, 라고, 생각, 나, 까지, 괴롭히다, 신고, 거야]

[3 rows x 8 columns]